@model Tic_Tac_Toe.Models.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table style="align-self:center;">
    <tr>
        <td style="background:red; width:100px; height:100px; text-align:center; border:groove;"><a href="Home/Index"><div style="width:100px; height:100px;"></div></a></td>
        <td style="background:red; width:100px; height:100px; text-align:center; border:groove;"><a href="Home/Index"><div style="width:100px; height:100px;"></div></a></td>
        <td style="background:red; width:100px; height:100px; text-align:center; border:groove;"><a href="Home/Index"><div style="width:100px; height:100px;"></div></a></td>
    </tr>
    <tr>
        <td style="background:red; width:100px; height:100px; text-align:center; border:groove;"><a href="Home/Index"><div style="width:100px; height:100px;"></div></a></td>
        <td style="background:red; width:100px; height:100px; text-align:center; border:groove;"><a href="Home/Index"><div style="width:100px; height:100px;"></div></a></td>
        <td style="background:red; width:100px; height:100px; text-align:center; border:groove;"><a href="Home/Index"><div style="width:100px; height:100px;"></div></a></td>
    </tr>
    <tr>
        <td style="background:red; width:100px; height:100px; text-align:center; border:groove;"><a href="Home/Index"><div style="width:100px; height:100px;"></div></a></td>
        <td style="background:red; width:100px; height:100px; text-align:center; border:groove;"><a href="Home/Index"><div style="width:100px; height:100px;"></div></a></td>
        <td style="background:red; width:100px; height:100px; text-align:center; border:groove;"><a href="Home/Index"><div style="width:100px; height:100px;"></div></a></td>
    </tr>
</table>
