@model Tic_Tac_Toe.Models.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div style="justify-content:center;" name="spelbord">
    <div name="rij1">
        <a style="width:100px;" href="Index"><div style="width:100px; height:100px; background:red; margin:5px;" name="blok1.1"></div></a>
        <a><div style="width:100px; height:100px; background:red; margin:5px;" name="blok1.2"></div></a>
        <a><div style="width:100px; height:100px; background:red; margin:5px;" name="blok1.3"></div></a>
    </div>
    <div name="rij2">
        <a><div style="width:100px; height:100px; background:red; margin:5px;" name="blok2.1"></div></a>
        <a><div style="width:100px; height:100px; background:red; margin:5px;" name="blok2.2"></div></a>
        <a><div style="width:100px; height:100px; background:red; margin:5px;" name="blok2.3"></div></a>
    </div>
    <div name="rij3">
        <a><div style="width:100px; height:100px; background:red; margin:5px;" name="blok3.1"></div></a>
        <a><div style="width:100px; height:100px; background:red; margin:5px;" name="blok3.2"></div></a>
        <a><div style="width:100px; height:100px; background:red; margin:5px;" name="blok3.3"></div></a>
    </div>
</div>
